 <form action = "/adaugare_produs" method = "post">
    <label> Nume: </label>
    <input type = "text" name = "name"> <br>
    <label> Pret: </label>
    <input type = "number" name = "price"> <br>
    <input type = "submit" value = "Adauga">
</form>