<form action = "/rezultat-chestionar" method = "post">
    <% for(let i in intrebari){ let c = 0; %>
    <p> <%= intrebari[i].intrebare %> </p>
    <% for(const v of intrebari[i].variante){ %>
    <input type = "radio" name = "q<%= i %>" value = "<%= c++%>"/>
    <label> <%= v%> </label> <br>
    <% 
        }
    }
    %>
    <button type = "submit"> Submit </button>
</form>