<% if(u != null ){ %>
<p id = "welcome">Bine ai venit, <%= u %>!</p>
<div id = "delogare">
    <a style = "text-align: right;" href = "delogare"> Delogare</a> <br>
</div>
<%}
    else {    
%>
<div id = "autentificare">
    <a style = "text-align:right;" href = "autentificare"> Autentificare </a> <br>
</div>

<% } %>


<!--
<a href = "creare-bd"> Creare BD </a> <br>
<a href = "inserare-bd"> Inserare BD </a> <br>
-->

<br>
<table id = "products" style = "border: 1px solid green">
    <tr>
        <td style = "font-weight: bold; font-size: 30px;"> <b> Nume </b></td>
        <td style = "font-weight: bold; font-size: 30px;"> <b> Pret </b> </td> 
    </tr>
    <% for(var i = 0; i < products.length; i++){ %>
        <tr>
            <td> <%= products[i].name %> </td>
            <td> <%= products[i].price %> </td>
            <td>
            <% 
                if(u != null)
                {
            %>
            <form id = "adaugaProdusForm"action = "adaugare_cos" method = "POST">
                <input type = "hidden" name = "id" value = <%= i %>>
                <input type = "submit" value = "Adauga">
            </form>
            
            <% } %>
            </td>
        </tr>
    <% 
    }
%>
</table>

<div id = "adaugareProduse">
    <% if(u != null && tip == "admin") {%>
        <br> <a href = "admin"> Adauga produse in stoc</a>
    <%} %>
</div>



<div id = "vizualizareCos">
    <% if(u != null ){ %>
        <a href = "vizualizare-cos"> Vizualizare Cos</a>
        <% } 
    %>
</div>








