<html>
    <div class = "wrapper">
        <header>
            <link rel = "stylesheet" type = "text/css" href = "stil.css"/>
        </header>
        <nav>
            <a href = "/"> Cumpărături</a>
            <a href = "/chestionar"> Chestionar</a>
        </nav>
        <main>
            <%-body%>
        </main>
        <div class = "push">
            
        </div>
    </div>
    <footer>
        &copy Scînteie Gabriel Alexandru 2022 <br>
        Telefon: <a href="tel:40758902460" style = "text-decoration:none;">0758902460</a> <br>
        E-mail: <a href = "mailto: gabi.scinteie00@gmail.com"> gabi.scinteie00@gmail.com</a> <br>
    </footer>
</html>