<br>
<table id = "products" style = "border: 1px solid green">
    <tr>
        <td> <b> Nume </b></td>
        <td> <b> Cantitate </b> </td> 
    </tr>
    <% console.log(products) %>
    <% console.log(quantities) %>
    <% if(quantities != null && products != null) {%>
        <% for(var i = 0; i < quantities.length; i++){ %>
            <% if(quantities[i] != null) {%>
                <tr>
                    <td> <%= products[i].name %> </td>
                    <td> <%= quantities[i] %> </td>
                </tr>
            <% } %>
        <% 
        }
    }
    %>
</table>